/*  ========================================================================  *\

    V M J  ~  C O M P O N E N T S . C S S

\*  ========================================================================  */

/*  ========================================================================  *\
    F O N T S
\*  ========================================================================  */

h1 {
    font-size:       6.666vh;  /*  48px  */
    line-height:     6.666vh;  /*  100%  */
    letter-spacing:  0.416vh;  /*  3px   */
    text-shadow:     0.277vh 0.277vh rgba(0, 0, 0, 1);
}
  
h2, h3,
.contact {
    font-size:       1.5rem;   /*    */
    line-height:     2.25rem;  /*    */
    letter-spacing:  0.15rem;  /*    */
}

h4 {
    font-size:       1.25rem;  /*    */
    line-height:     2rem;     /*    */
    letter-spacing:  0.15rem;  /*    */
}
  
p {
    font-size:       2.222vh;  /*  16px  */
    line-height:     2.444vh;  /*  110%  */
    letter-spacing:  0.138vh;  /*  1px   */
}

    .left   {text-align: left;}
    .center {text-align: center;}
    .right  {text-align: right;}


/*  ========================================================================  *\
    R E F E R E N C E S
\*  ========================================================================  */

a {
    cursor:           pointer;
    text-decoration:  none;
    font-size:        2.777vh;  /*  20px  */
    line-height:      3.471vh;  /*  125%  */
    letter-spacing:   0.277vh;  /*  2px   */
    color:            darkcyan;
}

    a:hover {
        font-size:       2.777vh;  /*  20px  */
        letter-spacing:  0.416vh;  /*  3px   */
        color:           rgba(255, 255, 0, 0.75);
        text-shadow:     0.185vh 0.185vh rgba(0, 0, 0, 0.75), -0.185vh -0.185vh #444;

        transition:      all 1s ease-in-out;
    }

    a:active {
        font-size:       2.777vh;  /*  20px  */
        letter-spacing:  0.416vh;  /*  3px   */
        color:           rgba(255, 255, 0, 0.75);
        text-shadow:     0.185vh 0.185vh rgba(0, 0, 0, 0.75), -0.185vh -0.185vh #444;

        box-shadow:      hsla(0, 0%, 0%, .8) 0.926vh 0.926vh 3.703vh;
    }


/*  ========================================================================  *\
    @ M E D I A  Q U E R I E S  ~  7 6 8 p x
\*  ========================================================================  */

@media (max-width: 768px) {
    h1 {
        font-size:       4.444vh;  /*  32px  */
        line-height:     4.444vh;  /*  100%  */
        letter-spacing:  0.277vh;  /*  2px   */
        text-shadow:     0.277vh 0.277vh rgba(0, 0, 0, 1);
    }
      
    h2, h3,
    .contact {
        font-size:       1.25rem;  /*    */
        line-height:     1.25rem;  /*    */
        letter-spacing:  0.15rem;  /*    */
    }

    h4 {
        font-size:       1rem;    /*    */
        line-height:     1.5rem;  /*    */
        letter-spacing:  0.1rem;  /*    */
    }
      
    p {
        font-size:       1.666vh;  /*  12px  */
        line-height:     1.666vh;  /*  110%  */
        letter-spacing:  0.138vh;  /*  1px   */
    }
    
    a {
        cursor:           pointer;
        text-decoration:  none;
        font-size:        2.222vh;  /*  16px  */
        line-height:      2.777vh;  /*  125%  */
        letter-spacing:   0.277vh;  /*  2px   */
        color:            darkcyan;
    }
    
        a:hover {
            font-size:       2.777vh;  /*  20px  */
            letter-spacing:  0.416vh;  /*  3px   */
            color:           rgba(255, 255, 0, 0.75);
            text-shadow:     0.185vh 0.185vh rgba(0, 0, 0, 0.75), -0.185vh -0.185vh #444;
    
            transition:      all 1s ease-in-out;
        }
    
        a:active {
            font-size:       2.777vh;  /*  20px  */
            letter-spacing:  0.416vh;  /*  3px   */
            color:           rgba(255, 255, 0, 0.75);
            text-shadow:     0.185vh 0.185vh rgba(0, 0, 0, 0.75), -0.185vh -0.185vh #444;
    
            box-shadow:      hsla(0, 0%, 0%, .8) 0.926vh 0.926vh 3.703vh;
        }
}
